/* *{
    border: 1px solid green;
} */

.aksil__menu-container h4{
    font-family: var(--font-family);
    font-size: 1.2rem;
    background: linear-gradient(-60deg, #ff5858, #f09819);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    margin-bottom: 0.50rem;
}
.aksil__menu-container h2{
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 2.4rem;
}
.aksil__menu{
    display: flex;
    gap: 2.6rem;
    align-items: start;
    flex-direction: row-reverse;
}

.aksil__menu-left_button{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.aksil__menu-left_button button{
    background-color: rgba(36, 38, 46, 1);
    width: 11rem;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.02rem;
    text-transform: capitalize;
    opacity: 0.6;
    border-radius: 4px;
    transition: 0.3s;
    color: white;
    font-family: var(--font-family);
}

.aksil__menu-left_button button:hover{
    opacity: 1;
}

.aksil__menu-left_button button:active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.85rem 0;
    border: 1px solid var(--orange);
    border-radius: 4px;
}

.aksil__menu-right_card{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 16px;
    row-gap: 2rem;
    justify-content: center;
}